*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg, #153677, #1f837a);
}
.todo-app{
    width: 100%;
    max-width: 500px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.todo-app h2 .icon{
    margin-left: 0.5rem;
    color: #002765;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #557680;
    border-radius: 25px;
    padding-left: 20px;
}
input{
    flex: 1;
    outline: none;
    border: none;
    background: transparent;
    padding: 10px;
    border-right: none;
    font-size: 17px;
    color: #002765;
}
button{
    padding-top: 5px;
    border: none;
    outline: none;
    padding: 16px 50px;
    border-radius: 25px;
    background: orange;
    cursor: pointer;
}
.checked{
    padding: 5px 6px;
    margin: 2px auto 15px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    /* user-select: none; */
    cursor: pointer;
    position: relative;
    background: #E8DFCA;
    border-radius: 25px;
    margin: 0.5rem 0;
}

ul li input{
    color: #555;
    font-size: 16px;
}

ul li span{
    position: absolute;
    right: 0;
    top: 2px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #df7030;
}
